[Desktop Entry]
Type=Application
Version=1.0
Name=GJisho
Comment=Japanese-English dictionary for GNOME
Exec=%BIN%
Icon=xyz.ianjohnson.GJisho
Categories=Education;Dictionary
DBusActivatable=true
