[Desktop Entry]
Type=Application
Version=1.0
Name=GJisho
Comment=Japanese-English dictionary for GNOME
Path=/opt/gjisho
Exec=/opt/gjisho/gjisho
Categories=Education;Dictionary
